@keyframes slidy {
    0% { left: 0%; }
    30% { left: 0%; }
    35% { left: -100%; }
    60% { left: -100%; }
    65% { left: -200%; }
    95% { left: -200%; }
    100% { left: -300%; }
}

div#slider { 
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;

}

div#slider figure img{ 
    width: 20%; 
    height: 100%; 
    float: left; 
}

div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    animation: 10s slidy infinite; 

}